<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mysql.dao.IInventoryDao">
	<resultMap type="com.example.domain.Inventory" id="inventory">
		<result column="ID" property="id" />
		<result column="PRODUCT_ID" property="productId" />
		<result column="AMOUNT" property="amount" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
	</resultMap>

	<sql id="table">INVENTORY</sql>

	<update id="decrInventory">
		UPDATE INVENTORY${storeId}
		SET
		AMOUNT = AMOUNT - #{inventory.amount},
		UPDATED_AT = NOW()
		WHERE
		PRODUCT_ID =
		#{inventory.productId}
	</update>

</mapper>