<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mysql.dao.IAccountDao">
	<resultMap type="com.test.domain.Account" id="order">
		<result column="ID" property="id" />
		<result column="ORDER_ID" property="orderId" />
		<result column="PROFIT" property="profit" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
	</resultMap>

	<sql id="table">ACCOUNT</sql>

	<insert id="insertAccount"
		parameterType="com.test.domain.Account" useGeneratedKeys="true"
		keyColumn="ID" keyProperty="id">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyColumn="ID" keyProperty="id">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO `ACCOUNT${storeId}`
		(
		ORDER_ID,
		PROFIT,
		CREATED_AT
		)
		VALUES
		(
		#{account.orderId},
		#{account.profit},
		#{account.createdAt}
		)
	</insert>

	<update id="updateAccount">
		UPDATE ORDER
		SET
		UPDATED_AT = NOW()
		WHERE
		ID = #{id}
		AND
		ORDER_ID = #{orderId}
	</update>

</mapper>